<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title}, ~{}, ~{})">
    <title>Classes</title>
</head>
<body>
<main>
    <nav th:replace="fragments :: navbar('roll')"></nav>

    <section class="container-md">
        <h1>Catch-Up Roll</h1>
        <form action="#" th:action="@{/roll/catchup}" method="post">
            <div class="mb-3">
                <label for="classId" class="form-label">Class</label>
                <select name="classId" id="classId" class="form-select" onchange="changeClass()">
                    <th:block th:each="c : ${allClasses}">
                        <option th:value="${c.id}" th:text="${c.getName()}" th:selected="${c.id==classId}"></option>
                    </th:block>
                    <option value="1" th:remove="all">Class Name</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="classStudents" class="form-label">Student</label>
                <select name="stuId" id="classStudents" class="form-select">
                    <option value="0">Select a Student</option>
                    <th:block th:each="s : ${classStudents}">
                        <option th:value="${s.id}" th:text="${s.firstName + ' ' + s.lastName}"></option>
                    </th:block>
                    <option value="1" th:remove="all">Class Name</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="rollDate" class="form-label">Roll Date</label>
                <input type="date" name="rollDate" id="rollDate">
            </div>
            <div class="mb-3">
                <label class="form-label">Roll Status: </label>
                <input type="radio" name="status" id="rollStatusPresent" value="PRESENT">
                <label for="rollStatusPresent" class="form-label">Present</label>
                <input type="radio" name="status" id="rollStatusAbsent" value="ABSENT">
                <label for="rollStatusAbsent" class="form-label">Absent</label>
            </div>
            <div class="mb-3">
                <label class="form-label">Deduct Credit? </label>
                <input type="radio" name="isDeduct" id="isDeductTrue" value="TRUE">
                <label for="isDeductTrue" class="form-label">Yes</label>
                <input type="radio" name="isDeduct" id="isDeductFalse" value="FALSE">
                <label for="isDeductFalse" class="form-label">No</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="confirmBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Keep the current credits without deduction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-btn-name="deduct">Deduct</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-btn-name="keepCredit">Keep Credits</button>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments :: common_scripts"></th:block>
<script th:inline="javascript">
    function changeClass() {
      const classId = $("#classId").val();
      const url = '[(@{/api/students})]';
      $.get(
          url,
          {
            classId: classId,
            v: new Date().getDate()
          },
          json => {
            console.log(json);
            $("#classStudents")
                .find("option")
                .remove()
                .end()
                .append('<option value="0">Select a Student</option>')
                .val(0);
            json.forEach(stu => {
              $("#classStudents").append(`<option value="${stu.id}">${stu.firstName} ${stu.lastName}</option>`)
            });
          }
      );
    }
</script>
</body>
</html>