<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title}, ~{}, ~{})">
    <title>Classes</title>
</head>
<body>
<main>
    <nav th:replace="fragments :: navbar('')"></nav>

    <section class="container-md">
        <h1>Change My Password</h1>
        <div th:if="${errorMsg}" th:text="${errorMsg}" style="color: red;">Error Message</div>
        <form action="#" th:action="@{/change-password}" method="post" class="needs-validation" novalidate id="changePasswordForm">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" maxlength="255" required placeholder="Old Password">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter current password.
                </div>
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="255" required placeholder="New Password">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a new password.
                </div>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="255" required placeholder="Confirm Password">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback" id="confirmPasswordErrorMsg">
                    Please repeat new password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</main>
<th:block th:replace="fragments :: common_scripts"></th:block>
<script th:src="@{/js/form-validation.js}"></script>
<script th:src="@{/js/form-validation-change-password.js}"></script>
</body>
</html>