<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title}, ~{}, ~{})">
    <title>Classes</title>
</head>
<body>
<main>
    <nav th:replace="fragments :: navbar('classes')"></nav>

    <section class="container-md">
        <h1>Class Students</h1>

        <details open>
            <summary>Class Info</summary>
            <p th:text="${classInfo}"></p>
        </details>
        <a class="btn btn-primary" th:href="@{/lclass/addstu(classId=${classId})}">Add a Student</a>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Enrolment Date</th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${classStudents}">
                    <td th:text="${s.firstName + ' ' + s.lastName}">Dongchen Zhang</td>
                    <td th:text="${s.dateOfBirth}">2014-03-28</td>
                    <td th:text="${s.credits}">2</td>
                    <td th:text="${s.enrolledOn}">2022-09-18</td>
                    <td>
                        <a href="#" class="btn btn-link" th:href="@{|/student/${s.id}|}">View Detail</a>
                        <a href="#" class="btn btn-link">Remove from Class</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<th:block th:replace="fragments :: common_scripts"></th:block>
</body>
</html>