<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, links, styles)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Classes</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <th:block th:replace="${links}"></th:block>
    <th:block th:replace="${styles}"></th:block>
</head>
<body>
<main>
    <nav th:fragment="navbar(channel)" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Lisa Class</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample05" style="">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${channel == 'roll' ? 'active' : ''}" aria-current="page" href="#">Roll</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${channel == 'classes' ? 'active' : ''}" href="#" th:href="@{/classes}">Classes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${channel == 'all-students' ? 'active' : ''}" href="#">All Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${channel == 'report' ? 'active' : ''}" href="#">Report</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link disabled">Disabled</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
<!--                <form role="search">-->
<!--                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--                </form>-->
            </div>
        </div>
    </nav>
    <section class="container-md">
        <div>
            <form action="#" th:action="@{/roll}" method="post">
                <select name="classId" id="clazz" class="form-select" onchange="document.forms[0].submit()">
                    <th:block th:each="c : ${rollVo.classList}">
                        <option th:value="${c.id}" th:text="${c.getName()}" th:selected="${c.id==rollVo.selectedClass.id}"></option>
                    </th:block>
                    <option value="1" th:remove="all">周六下午1.30</option>
                    <option value="1" th:remove="all">周六下午3.00</option>
                </select>
            </form>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" th:each="date : ${rollVo.getDates()}" th:text="${#temporals.format(date, 'dd MMM')}">27 Aug</th>
                    <th scope="col" th:remove="all">3 Sep</th>
                    <th scope="col" th:remove="all">10 Sep</th>
                    <th scope="col" th:remove="all">17 Sep</th>
                    <th scope="col" th:remove="all">24 Sep</th>
                    <th scope="col" th:remove="all">1 Oct</th>
                    <th scope="col" th:remove="all">8 Oct</th>
                    <th scope="col" th:remove="all">15 Oct</th>
                    <th scope="col" th:remove="all">22 Oct</th>
                    <th scope="col" th:remove="all">29 Oct</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stu : ${rollVo.getItems()}">
                    <td th:text="${stu.getName()}">Dongchen</td>
                    <td th:each="roll : ${stu.getRollList()}">
                        <th:block th:if="${roll == null}">
                            <button type="button" class="btn btn-link" th:attr="data-stu-id=${stu.studentId},data-roll-date=${rollVo.dates[rollStat.index]},data-class-id=${rollVo.selectedClass.id}" onclick="return markPresent(this)">Present</button>
                            <br>
                            <button type="button" class="btn btn-link" th:attr="data-stu-id=${stu.studentId},data-roll-date=${rollVo.dates[rollStat.index]},data-class-id=${rollVo.selectedClass.id}" onclick="return markAbsent(this)">Absent</button>
                        </th:block>
                        <th:block th:if="${roll?.getFirst()}">
                            &#9989; <span th:text="${roll?.second}">8</span>
                        </th:block>
                        <th:block th:if="${roll != null and (not roll?.getFirst())}">
                            &#10060; <span th:text="${roll?.second}">8</span>
                        </th:block>
                    </td>
                    <td th:remove="all">&#10006; 8</td>
                    <td th:remove="all">&#10004; 7</td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                    <td th:remove="all">
                        <button type="button" class="btn btn-link">Present</button>
                        <br>
                        <button type="button" class="btn btn-link">Absent</button>
                    </td>
                </tr>
                <tr th:remove="all">
                    <td>Dongyu</td>
                    <td>&#10004; 8</td>
                    <td>&#10006; 8</td>
                    <td>&#10004; 7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr th:remove="all">
                    <td>Philix</td>
                    <td>&#10004; 8</td>
                    <td>&#10006; 8</td>
                    <td>&#10004; 7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr th:remove="all">
                    <td>Cici</td>
                    <td>&#10004; 8</td>
                    <td>&#10006; 8</td>
                    <td>&#10004; 7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="confirmBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Keep the current credits without deduction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-btn-name="deduct">Deduct</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-btn-name="keepCredit">Keep Credits</button>
            </div>
        </div>
    </div>
</div>
<th:block th:fragment="common_scripts">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
</th:block>
</body>
</html>