<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title}, ~{}, ~{})">
    <title>Classes</title>
</head>
<body>
<main>
    <nav th:replace="fragments :: navbar('all-students')"></nav>

    <section class="container-md">
        <h1>Students</h1>

        <a class="btn btn-primary" th:href="@{/students/add}">Add</a>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Classes</th>
                    <th scope="col">Enrolment Date</th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${students}">
                    <td th:text="${s.name}">Dongchen Zhang</td>
                    <td th:text="${s.dateOfBirth}">2014-03-28</td>
                    <td th:text="${s.credits}">2</td>
                    <td th:text="${s.classes}">周六1.30-2.30</td>
                    <td th:text="${s.enrolledOn}">2022-09-18</td>
                    <td>
                        <a href="#" class="btn btn-link">Update</a>
                        <a href="#" class="btn btn-link">Delete</a>
                    </td>
                </tr>
                <tr th:remove="all">
                    <td>周六下午1.30</td>
                    <td>Saturday</td>
                    <td>1.30pm</td>
                    <td>2.30pm</td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>
<th:block th:replace="fragments :: common_scripts"></th:block>
</body>
</html>