<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title}, ~{}, ~{})">
    <title>My Centre</title>
</head>
<body>
<main>
    <nav th:replace="fragments :: navbar('my')"></nav>

    <section class="container-md">
        <h1>My Works</h1>

        <details open>
            <summary>My Info</summary>
            <div>
                <p th:text="${studentWorkVo.name}"></p>
                <p>
                    <span th:text="${'Date of Birth ' + studentWorkVo.dateOfBirth}"></span>
                    <span th:if="${studentWorkVo.age != null}" th:text="${', ' + studentWorkVo.age + ' years old'}"></span>
                </p>
                <p th:text="${'In classes: ' + studentWorkVo.classes}"></p>
                <p th:if="${studentWorkVo.enrolledOn != null}" th:text="${'Started in ' + #temporals.format(studentWorkVo.enrolledOn, 'MMMM yyyy')}"></p>
                <div th:unless="${#strings.isEmpty(studentWorkVo.parentInfo)}">
                    <hr>
                    <p th:text="${'Parent/Guardian: ' + studentWorkVo.parentInfo}"></p>
                </div>
                <p th:text="${'Credit Balance: ' + studentWorkVo.credits}"></p>
            </div>
        </details>

        <div class="container-fluid">
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-12 col-md-4" th:each="work : ${studentWorkVo.works}">
                    <div>
                        <img src="#" th:src="@{|/picture/${work.picId}|}" alt="demo" class="img-fluid" onclick="showModal(this.src)">
                    </div>
                    <div>
                        <p th:text="${work.title}"></p>
                        <p th:text="${work.date}"></p>
                        <p th:text="${work.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Full screen modal -->
    <div class="modal" tabindex="-1" id="fullScreenModal">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
            <img src="" alt="" style="width: 100%;" id="fullScreenImg" onclick="hideModal()">
        </div>
    </div>
</main>
<th:block th:replace="fragments :: common_scripts"></th:block>
<script>
  function showModal(picSrc) {
    document.getElementById('fullScreenImg').src = picSrc;
    const bigPicModal = new bootstrap.Modal(document.getElementById('fullScreenModal'));
    bigPicModal.show();

  }
  function hideModal() {
    const bigPicModal = new bootstrap.Modal(document.getElementById('fullScreenModal'));
    bigPicModal.hide();
  }
</script>
</body>
</html>